---
page_flag: about
---

<section id="blogIntro">

  <div class="container">
    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
          <span>About</span>
        </h2>


        <img src="../images/separatorBlack.png" class="img-responsive center-block separator-half separator-fix-spacing" alt="separator">
        <p>
          We are a group of dedicated, like-minded students who are fascinated with all things finance – in particular – with the international finance, international economics and foreign exchange market.
          We are lead by an experienced executive team, but truly we are about the members who comprise the club at large.
          The core of our club is our weekly meetings where we get together each week to expand our knowledge in an interactive and lively manner, as lead by our academic team.
          We also host many socials, many small and informal, some large and fancy pants worth putting on that one nice shirt for.
          We also try to bring in relevant speakers, both technical and otherwise, so as to give you the broadest yet most pertinent perspective on the world of finance.
        </p>
      </div>
    </div>
    <!--end header-->
  </div>

</section>
