---
page_flag: blog
---

<section id="blogIntro">

  <div class="container">
    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s" class="text-center">
          <span>Blog</span>
        </h2>

        <img src="images/separatorBlack.png" class="img-responsive center-block separator-half separator-fix-spacing" alt="separator">

        <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
          This is the WFA blog - for all things forex.
        </p>

      </div>

    </div>
    <div class="col-md-10 col-md-offset-1">
      <br><br><br><br>
      <script async src="javascripts/medium.js"></script>
      <a class="m-profile" data-width="100%" data-border="false" data-collapsed="false" href="https://medium.com/@westernforex.blog">Western Forex</a>
    </div>
    <!--end header-->
  </div>


</section>