---
page_flag: events
---

<section id="blogIntro">

  <div class="container">
    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2">
        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s" class="text-center">
          <span>Events</span>
        </h2>


        <img src="../images/separatorBlack.png" class="img-responsive center-block separator-half" alt="separator">
        <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
          This is where any details regarding upcoming events will be posted.<br><br>
          Stay tuned! This page will be updated in the week following our AGM on Sept. 22nd, at 5:30 in SH 3315!
        </p>
      </div>
    </div>
    <!--end header-->
  </div>

</section>
