---
page_flag: events
---

<section id="blogIntro">

  <div class="container">
    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
          <span>Events</span>
        </h2>


        <img src="../images/separatorBlack.png" class="img-responsive center-block separator-half" alt="separator">
        <p>
          This is where any details regarding upcoming events will be posted.<br><br>
          Stay tuned! This page will be updated shortly!
        </p>
      </div>
    </div>
    <!--end header-->
  </div>

</section>
