---
page_flag: executives
---

<section id="blogIntro">

  <div class="container">


    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
          <span>Executives</span>
        </h2>
        <img src="../images/separatorBlack.png" class="img-responsive center-block separator-half" alt="separator">
        <span>
          The WFA team is recruiting new executive members for the 2016-2017 year!<br>
          <br>
          <!--
          If you are interested in applying:
          <ol>
            <li>If you are not signed up as an official club member, do so <a class="light" target="_blank" href="https://www.usc-online.ca/clubs_registration.asp?cid=8&scid=11&pid=1616&ct=t(First_Email9_27_2016)&ct=t(Forex_Director_Applications_Open10_1_2016)">here</a>.</li>
            <li>Fill out and submit the <a class="light" target="_blank" href="https://www.dropbox.com/sh/tfhqohpr0bakw4m/AAAnpv6_v3O0-mE3uxP5TTq0a?dl=0&ct=t(Forex_Director_Applications_Open10_1_2016)">application form</a> for the position you are intereseted in.</li>
          </ol>
          <br>
          Applications are due on <b>Tuesday, Oct. 4th by 11:59pm (Midnight).</b><br>
          Interviews will take place from <b>Oct. 6th - Oct. 12th.</b><br>
          Final decision will be made on <b>Friday Oct. 14th.</b><br>
          -->
          We have finished accepting applications for 2016-2017 executive positions.
          <br>
          Existing applicants will be contacted via email with more information.
          <br>
          If you have any questions, please email us at <a href="mailto:westernforex@westernforex.com">westernforex@westernforex.com.</a>
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!--end header-->


    <!--
    <div class="col-md-8 col-md-offset-2">


    <div class="col-md-2 text-center">
    </div>
    <div class="col-md-4 text-center">
      <a href="https://ca.linkedin.com/in/ehuang8"><img src="../images/executives/eric-huang.jpg" class="exec-photo"></a>
      <br>
      Eric Huang
    </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/in/huntercorcoran"><img src="../images/executives/hunter-corcoran.jpg" class="exec-photo"></a>
        <br>
        Hunter Corcoran
      </div>
    <div class="col-md-2 text-center">
    </div>
      <div class="col-md-12 text-center">
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/pub/erica-dixon/26/620/287"><img src="../images/executives/erica-dixon.jpg" class="exec-photo"></a>
        <br>
        Erica Dixon
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/in/brianwjang"><img src="../images/executives/brian-jang.jpg" class="exec-photo"></a>
        <br>
        Brian Jang
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.linkedin.com/pub/fahad-asam/91/537/2a"><img src="../images/executives/fahad-asam.jpg" class="exec-photo"></a>
        <br>
        Fahad Asam
      </div>
      <div class="col-md-12 text-center">
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/in/kenden"><img src="../images/executives/kenden-lama.jpg" class="exec-photo"></a>
        <br>
        Kenden Lama
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/pub/scott-mackie/89/514/6a1"><img src="../images/executives/scott-mackie.jpg" class="exec-photo"></a>
        <br>
        Scott Mackie
      </div>
      <div class="col-md-2 text-center">

      </div>


      <div class="col-md-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>

        <img src="../images/executives/exec-hierarchy.jpg" class="exec-hierarchy">

      </div>
      <div class="col-md-2 text-center">
      </div>

      </div>
    -->

  </div>


</section>
