---
layout: none
---
<div class="text-center">
<br>
  <a style="color:#4561c4" href="../images/handbook/WFAHandbook.pdf" download><h4>--- Click Here to download the WFA Handbook ---</h4></a>
  <br>
  <br>

	<a style="color:#4561c4" target="_blank" href="https://uwoforex.gitbooks.io/western-forex-handbook/content/"><h4>--- Click Here to view the online WFA Handbook ---</h4></a>
</div>
