---
layout: home
---

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* Intro  */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="intro">
  <div class="black-overlay"></div>
  <div class="container valign">
      <!--<div class="col-md-12">
        <img src="images/logoWhite.png" class="img-responsive center-block introLogo" alt="Intro Logo">
      </div>-->
      <div class="col-md-12 text-center valign-bottom">
        <h2>Follow the money. Follow Forex.</h2>
      </div>

  </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END Intro  */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* TEXT SEPARATOR */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="text-separator">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2 data-scroll-reveal="enter left move 10px over 1s after 0.2s">WFA</h2>
        <img src="../images/lineSeparatorWhite.png" class="img-responsive lineSeparator" data-scroll-reveal="enter left move 10px over 1s after 0.3s" alt="separator">
        <p data-scroll-reveal="enter left move 10px over 1s after 0.3s">
          WFA is a professional finance club that focuses on education regarding international economics, international finance and currency trading.
          It aims to help members learn, build friendships, expand network with industry professionals and provide a comprehensive club experience.         </p>
      </div>
    </div>

    <img src="../images/textSeparatorLogo.png" class="textSepLogo" data-stellar-ratio="0.5" alt="Logo Black">
  </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* END TEXT SEPARATOR */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--/* about SECTION */-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section id="about">

  <div class="container">
    <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">$</h1>
    <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200">€</h1>


    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
          <span>About us</span>
        </h2>
        <img src="../images/separatorBlack.png" class="img-responsive center-block separator-half" alt="separator">
      </div>
    </div>
    <!--end header-->

    <!--content-->

    <h1 class="parallaxLetter letter3" data-stellar-ratio="1.5" data-stellar-vertical-offset="-600">¥</h1>
    <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8" data-stellar-vertical-offset="0">£</h1>

    <div class="row">
      <div class="col-md-12" data-scroll-reveal="enter left move over 1s after 0.2s">
        <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
          We are a group of dedicated, like-minded students who are fascinated with all things finance – in particular – with the international finance, international economics and foreign exchange market.
          We are lead by an experienced executive team, but truly we are about the members who comprise the club at large.
        </p>
        <p>
          The core of our club is our weekly meetings where we get together each week to expand our knowledge in an interactive and lively manner, as lead by our academic team.
          We also host many socials, many small and informal, some large and fancy pants worth putting on that one nice shirt for.
          We also try to bring in relevant speakers, both technical and otherwise, so as to give you the broadest yet most pertinent perspective on the world of finance.
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <br><br>
        <a class="btn btn-default btn-black center-block" href="./about">Learn More</a>
      </div>
    </div>
    <!--end content-->

  </div>
</section>
