---
page_flag: metatrader
---

<section id="blogIntro">

  <div class="container">


    <!--header-->
    <div class="row sectionIntro">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">
          <span>MetaTrader</span>
        </h2>
        <img src="../images/separatorBlack.png" class="img-responsive center-block separator-half" alt="separator">
        <span>
          Click <b><a href="/assets/mt5-setup-win.exe" download="metatrader-windows">HERE</a></b> to download MetaTrader for Windows.
          <br>
          <br>
          Click <b><a href="/assets/wine-bottler.dmg" download="metatrader-macos">HERE</a></b> to download MetaTrader for macOS.
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!--end header-->


    <!--
    <div class="col-md-8 col-md-offset-2">


    <div class="col-md-2 text-center">
    </div>
    <div class="col-md-4 text-center">
      <a href="https://ca.linkedin.com/in/ehuang8"><img src="../images/executives/eric-huang.jpg" class="exec-photo"></a>
      <br>
      Eric Huang
    </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/in/huntercorcoran"><img src="../images/executives/hunter-corcoran.jpg" class="exec-photo"></a>
        <br>
        Hunter Corcoran
      </div>
    <div class="col-md-2 text-center">
    </div>
      <div class="col-md-12 text-center">
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/pub/erica-dixon/26/620/287"><img src="../images/executives/erica-dixon.jpg" class="exec-photo"></a>
        <br>
        Erica Dixon
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/in/brianwjang"><img src="../images/executives/brian-jang.jpg" class="exec-photo"></a>
        <br>
        Brian Jang
      </div>
      <div class="col-md-4 text-center">
        <a href="https://www.linkedin.com/pub/fahad-asam/91/537/2a"><img src="../images/executives/fahad-asam.jpg" class="exec-photo"></a>
        <br>
        Fahad Asam
      </div>
      <div class="col-md-12 text-center">
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/in/kenden"><img src="../images/executives/kenden-lama.jpg" class="exec-photo"></a>
        <br>
        Kenden Lama
      </div>
      <div class="col-md-4 text-center">
        <a href="https://ca.linkedin.com/pub/scott-mackie/89/514/6a1"><img src="../images/executives/scott-mackie.jpg" class="exec-photo"></a>
        <br>
        Scott Mackie
      </div>
      <div class="col-md-2 text-center">

      </div>


      <div class="col-md-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>

        <img src="../images/executives/exec-hierarchy.jpg" class="exec-hierarchy">

      </div>
      <div class="col-md-2 text-center">
      </div>

      </div>
    -->

  </div>


</section>
